<footer class="footer">
  <div class="icons">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-github"></i></a>
    <p class="company-name">
      Nicoleta Calin&copy; 2021
    </p>
  </div>
</footer>
