<footer class="footer">
  <div class="icons">
    <a href="https://www.facebook.com/nicoleta.ciobanu.940/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/nicoleta-calin-6582339a/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.instagram.com/mrsnicoletacalin/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/nicoletacalin" target="_blank"><i class="fab fa-github"></i></a>
    <p class="company-name">
      Nicoleta Calin&copy; 2021
    </p>
  </div>
</footer>
