<header>
    <h1><a href="#">Today News</a></h1>
</header>
<nav id="navbar">
  <ul class="menu-list">
    <li class="logo"><a href="#">Today News</a></li>
    <li><a href="/">News</a></li>
    <% if current_user.admin %>
      <li><%= link_to "Admin", admin_index_path %></li>
    <% end %>
    <div class="nav-button" style="display: flex; margin-right: 30px;">
      <li><i class="fas fa-user-circle"></i>
        <ul class="nav-dropdown">
          <% if user_signed_in? %>
          <li><%= link_to "Edit account", edit_user_registration_path %></li>
            <li role="presentation"><%= link_to "Log Out", destroy_user_session_path, method: :delete %>
          <% else %>
            <li role="presentation"><%= link_to "Sign In",  new_user_session_path %></li>
          <% end %>
        </ul>
      </li>
    </div>
  </ul>
</nav>


