<div class='content'>
  <figure class="news">
  <img src="https://images.pexels.com/photos/992734/pexels-photo-992734.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="sample101" />
  <figcaption>
    <h3>I was part of something special.</h3>
    <p>This thing comes fully loaded. AM/FM radio, reclining bucket seats, and... power windows. Yeah, but John, if The Pirates of the Caribbean breaks down, the pirates don’t eat the tourists. You know what? It is beets. I've crashed into a beet truck. Do you have any idea how long it takes those cups to decompose. </p>
    <footer>
      <div class="date">October 02, 2014</div>

    </footer>
  </figcaption>
  <a href="#"></a>
</figure>

<figure class="news">
  <div class="image"><img src=https://images.pexels.com/photos/992734/pexels-photo-992734.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="sample107" /></div>
  <figcaption>
    <h3>Did he just throw my cat out of the window?</h3>
    <p>Must go faster. Must go faster. Eventually, you do plan to have dinosaurs on your dinosaur tour, right? Jaguar shark! So tell me - does it really exist? My dad once told me, laugh and the world laughs with you, Cry, and I'll give you something to cry about you little bastard! What do they got in there? King Kong? </p>
    <footer>
      <div class="date">January 11, 2020</div>

    </footer>
  </figcaption>
  <a href="https://google.com"></a>
</figure>

<figure class="news">
  <div class="image"><img src="https://images.pexels.com/photos/992734/pexels-photo-992734.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="sample107" /></div>
  <figcaption>
    <h3>Remind me to thank John for a lovely weekend.</h3>
    <p>Jaguar shark! So tell me - does it really exist? I gave it a cold? I gave it a virus. A computer virus. They're using our own satellites against us. And the clock is ticking. My dad once told me, laugh and the world laughs with you, Cry, and I'll give you something to cry about you little bastard!</p>
    <footer>
      <div class="date">January 31, 2036</div>

    </footer>
  </figcaption>
  <a href="https://google.com"></a>
</figure>

<figure class="news">
  <div class="image"><img src="https://images.pexels.com/photos/992734/pexels-photo-992734.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="sample107" /></div>
  <figcaption>
    <h3>Remind me to thank John for a lovely weekend.</h3>
    <p>Jaguar shark! So tell me - does it really exist? I gave it a cold? I gave it a virus. A computer virus. They're using our own satellites against us. And the clock is ticking. My dad once told me, laugh and the world laughs with you, Cry, and I'll give you something to cry about you little bastard!</p>
    <footer>
      <div class="date">January 31, 2036</div>

    </footer>
  </figcaption>
  <a href="https://google.com"></a>
</figure>

<figure class="news">
  <div class="image"><img src="https://images.pexels.com/photos/992734/pexels-photo-992734.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="sample107" /></div>
  <figcaption>
    <h3>Remind me to thank John for a lovely weekend.</h3>
    <p>Jaguar shark! So tell me - does it really exist? I gave it a cold? I gave it a virus. A computer virus. They're using our own satellites against us. And the clock is ticking. My dad once told me, laugh and the world laughs with you, Cry, and I'll give you something to cry about you little bastard!</p>
    <footer>
      <div class="date">January 31, 2036</div>

    </footer>
  </figcaption>
  <a href="https://google.com"></a>
</figure>
<figure class="news">
  <div class="image"><img src="https://images.pexels.com/photos/992734/pexels-photo-992734.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="sample107" /></div>
  <figcaption>
    <h3>Remind me to thank John for a lovely weekend.</h3>
    <p>Jaguar shark! So tell me - does it really exist? I gave it a cold? I gave it a virus. A computer virus. They're using our own satellites against us. And the clock is ticking. My dad once told me, laugh and the world laughs with you, Cry, and I'll give you something to cry about you little bastard!</p>
    <footer>
      <div class="date">January 31, 2036</div>

    </footer>
  </figcaption>
  <a href="https://google.com"></a>
</figure>

</div>
