<div class='content'>
  <figure class="news">
    <img src="https://images.pexels.com/photos/992734/pexels-photo-992734.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="sample101" />
    <figcaption>
      <h3>I was part of something special.</h3>
      <p>This thing comes fully loaded. AM/FM radio, reclining bucket seats, and... power windows. Yeah, but John, if The Pirates of the Caribbean breaks down, the pirates don’t eat the tourists. You know what? It is beets. I've crashed into a beet truck. Do you have any idea how long it takes those cups to decompose. </p>
      <footer>
        <div class="date">October 02, 2014</div>

      </footer>
    </figcaption>
    <a href="#"></a>
  </figure>
</div>
